.navbar {
	background: rgba(0,0,0,.8);
}

#loginHtml { 
  background: url('quad.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {

}

.navbar-fixed-top {
    height: 80px;
}

.navbar-fixed-top .navbar-collapse {
    height: 80px;
}

#loginModal{
  position: fixed;
  top: 20%;
  overflow:hidden;
}

.modal-content{
	background: rgba(0,0,0,.8);
}

.btn-primary{
	background: #6E8BBF;
	border: none;
}

.btn-primary:hover{
	background: #EF8A1C;
	border:none;
}

a{
	color:#6E8BBF;
}

a:hover{
	color:#EF8A1C;
}

#loginTitle{
	color:#FFFFFF;
}

.form-control:focus{
	border-color: #6E8BBF;
}

#twitterbootstrap .navbar-inner {
text-align:center;
}

.navbar-brand {
	padding-top: 30px;
	font-size: 25px;
}

.navbar-nav a
{
	display: block;
	height: 80px;
}

.navbar-nav > li > a {
    padding-top: 30px;
}

.content{
	padding: 100px 10px;
}

#registerForm{
	width: 40%;
}